---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;

const fontWeight = 600;
const textCase = "capitalize"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <style is:global define:vars={{fontWeight, textCase}}>
      h1 {
        color: white;
        font-size: 4rem;
      }
      .skill {
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <div class="w-full h-dvh bg-white flex flex-col justify-between dark:bg-gray-900 text-black md:dark:text-white">
      <Header />
      <main class="max-w-screen-xl w-full h-full px-4 mx-auto">
        <h1>{pageTitle}</h1>
        <slot />
      </main>
      <Footer />
    </div>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>